@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

body {
    font-family: 'Maven Pro', sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #000;
    color: #FFF;
}

h1 {
    text-align: center;
    color: #FF0048;
}

h2 {
    color: #FFF;
    border-bottom: 1px solid #FF0048;
    padding-bottom: 5px;
}

pre {
    background: #222;
    color: #FFF;
    padding: 15px; 
    border-radius: 10px; 
    overflow: auto;
}

.function {
    margin-bottom: 20px;
    padding: 20px; 
    background: #0000;
    border: 1px solid #FF0048;
    border-radius: 10px; 
}

.result {
    margin-top: 10px;
    font-weight: bold;
    color: white;
}

button {
    background-color: #FF0048;
    color: white;
    border: none;
    padding: 10px 20px; 
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d4003a;
}
